@media screen and (min-width >= 320px) and (max-width <=475px) {
  .container .nav-section {
    display: none;
  }
  .container .social-section {
    display: none;
  }

  .container {
    width: 100vw;
    height: 120vh;
  }
  .inner-container {
    width: 100vw;
  }

  .profile {
    position: relative;
    top: 15em;
    height: 40vh;
    left: 2em;
    aspect-ratio: 1/1;
    width: 80vw;
  }

  /* page2 */
  .services h1 {
    margin: 0;
  }
  .profile2 {
    display: inline-block;
    margin: 0;
  }
  .profile2 img {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80vw;
  }
  .profile2 .description p {
    width: 90vw;
  }

  .page2 {
    height: 200vh;
  }
  .profile2 button {
    width: 20vw;
    height: 3vh;
  }
  .services {
    position: relative;
    top: 50em;
  }
  .services1 {
    width: 100vw;
    /* margin-left: 10px; */
    height: 12em;
  }
  .services2 {
    width: 100vw;
    /* margin-left: 10px; */
    height: 12em;
  }
  .services3 {
    width: 100vw;
    /* margin-left: 10px; */
    height: 12em;
  }

  /* page3 */
  .page3 {
    height: 200vh;
    width: 100vw;
  }
  .life-skills {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    margin-left: 20px;
  }
  .title h2 {
    width: 78vw;
  }
  .items {
    display: inline-block;
    width: 90vw;
  }
  .title {
    display: flex;
    justify-content: center;
    margin-left: 5em;
  }
  .items-section {
    width: 90vw;
  }
  .life-skills {
    width: 80vw;
    margin-left: 50px;
  }
  .loading-bar {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar2 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar2::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar3 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar3::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar4 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar4::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .text {
    position: relative;
    right: 69%;
    top: 1.5rem;
    font-weight: 600;
  }
  .text1 {
    position: relative;
    right: 69%;
    top: 0.1rem;
    font-weight: 600;
  }
  .text2 {
    position: relative;
    right: 69%;
    top: 0.1rem;
    font-weight: 600;
  }
  .text-pro {
    display: none;
  }
  .text-tech {
    display: none;
  }

  /* page4 */
  .page4 {
    height: 200vh;
  }
  .items2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .items2 img {
    width: 100vw;
  }
  .items-projects {
    height: 40vh;
  }
  .items-projects {
    width: 100vw;
    height: 190px;
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .items-projects:hover {
    transform: translateY(20px);
  }
  .items-projects:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 176, 155, 0.5),
      rgba(150, 201, 61, 1)
    );
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  .items-projects:hover::before {
    opacity: 1;
  }
  .items-projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .items-projects .content {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }
  .items-projects:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  .items-projects .content h1 {
    margin-top: -20px;
  }
  .items-projects .content p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 7px;
  }
  .items-projects .content .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5px ease-in-out;
  }

  /* page5 */
  .textfield input {
    width: 92vw;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .textfield .subject {
    width: 92vw;
  }
  .query textarea {
    width: 92vw;
    height: 25vh;
    margin-top: -5px;
  }
}
.menu-btn {
  display: block;
  flex: 1;
  text-align: right;
}
.fa-toggle-off {
  cursor: pointer;
}
.fa-toggle-off:active {
  color: #66d666;
}
.fa-bars:active {
  color: #66d666;
}
.services1 {
  width: 20px;
}
@media screen and (width > 1024px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (width >= 768px) and (width <=900px) {
  .container .nav-section {
    display: none;
  }
  .container .social-section {
    display: none;
  }
  .menu-btn {
    display: block;
    text-align: right;
  }

  .container {
    width: 100vw;
    height: 120vh;
  }
  .inner-container {
    width: 100vw;
  }

  .profile {
    position: relative;
    right: -3em;
    top: 2em;
  }

  /* page2 */
  .services h1 {
    margin: 0;
  }
  .profile2 {
    display: inline-block;
    margin: 0;
  }
  .profile2 img {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80vw;
  }
  .profile2 .description p {
    width: 90vw;
  }

  .page2 {
    height: 300vh;
  }
  .profile2 button {
    width: 20vw;
    height: 3vh;
  }
  .services {
    position: relative;
    top: 70em;
    margin-left: 80px;
  }
  .services1 {
    width: 80vw;
    margin-left: 10px;
    height: 12em;
  }
  .services2 {
    width: 80vw;
    margin-left: 10px;
    height: 12em;
  }
  .services3 {
    width: 80vw;
    margin-left: 10px;
    height: 12em;
  }
  @media screen and (width >=1024px) {
    .services h1 {
      margin: 0;
    }
    .profile2 {
      display: inline-block;
      margin: 0;
    }
    .profile2 img {
      text-align: center;
      display: flex;
      justify-content: center;
      height: 80vw;
    }
    .profile2 .description p {
      width: 90vw;
    }

    .page2 {
      height: 200vh;
    }
    .profile2 button {
      width: 20vw;
      height: 3vh;
    }
    .services {
      position: relative;
      top: 70em;
      margin-left: 80px;
    }
    .services1 {
      width: 60vw;
      margin-left: 10px;
      height: 10em;
    }
    .services2 {
      width: 60vw;
      margin-left: 10px;
      height: 10em;
    }
    .services3 {
      width: 60vw;
      margin-left: 10px;
      height: 10em;
    }
  }
  /* page3 */
  .page3 {
    height: 200vh;
    width: 100vw;
  }
  .life-skills {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    margin-left: 20px;
  }
  .items {
    display: inline-block;
    width: 90vw;
  }
  .title {
    display: flex;
    justify-content: center;
    margin-left: 5em;
  }
  .items-section {
    width: 90vw;
  }
  .life-skills {
    width: 80vw;
    margin-left: 50px;
  }
  .loading-bar {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar2 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar2::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar3 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar3::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar4 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar4::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .text {
    position: relative;
    right: 69%;
    top: 1.5rem;
    font-weight: 600;
  }
  .text1 {
    position: relative;
    right: 69%;
    top: 0.1rem;
    font-weight: 600;
  }
  .text2 {
    position: relative;
    right: 69%;
    top: 0.1rem;
    font-weight: 600;
  }
  .text-pro {
    display: none;
  }
  .text-tech {
    display: none;
  }

  /* page4 */
  .page4 {
    height: 200vh;
  }
  .items2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .items2 img {
    width: 100vw;
  }
  .items-projects {
    height: 50vh;
  }

  .items-projects {
    width: 100vw;
    height: 240px;
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .items-projects:hover {
    transform: translateY(20px);
  }
  .items-projects:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 176, 155, 0.5),
      rgba(150, 201, 61, 1)
    );
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  .items-projects:hover::before {
    opacity: 1;
  }
  .items-projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .items-projects .content {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }
  .items-projects:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  .items-projects .content h1 {
    margin-top: -20px;
  }
  .items-projects .content p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 7px;
  }
  .items-projects .content .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5px ease-in-out;
  }

  /* page5 */
  .textfield input {
    width: 92vw;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .query textarea {
    width: 92vw;
    height: 25vh;
    margin-top: -5px;
  }
}
.menu-btn {
  display: block;
  flex: 1;
  text-align: right;
}
.menu-btn:active {
  color: #66d666;
}
@media screen and (width > 1024px) {
  .menu-btn {
    display: none;
  }
}
@media screen and (width >900px) and (width <= 1024px) {
  .container .nav-section {
    display: none;
  }
  .container .social-section {
    display: none;
  }
  .menu-btn {
    display: block;
    text-align: right;
  }

  .container {
    width: 100vw;
    height: 120vh;
  }
  .inner-container {
    width: 100vw;
  }

  .profile {
    position: relative;
    right: -3em;
    top: 2em;
  }

  /* page2 */

  .services h1 {
    margin: 0;
  }
  .profile2 {
    display: inline-block;
    margin: 0;
  }
  .profile2 img {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 60vw;
  }
  .profile2 .description p {
    width: 90vw;
  }

  .page2 {
    height: 300vh;
  }
  .profile2 button {
    width: 15vw;
    height: 3vh;
  }
  .services {
    position: relative;
    top: 70em;
    margin-left: 80px;
    display: inline-block;
    justify-content: center;
  }
  .services h1 {
    font-size: 30px;
    margin-bottom: -10px;
  }
  .services1 {
    width: 70vw;
    margin-left: 10px;
    height: 11em;
  }
  .services2 {
    width: 70vw;
    margin-left: 10px;
    height: 11em;
  }
  .services3 {
    width: 70vw;
    margin-left: 10px;
    height: 11em;
  }

  /* page3 */
  .page3 {
    height: 200vh;
    width: 100vw;
  }
  .life-skills {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    margin-left: 20px;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0px;
  }
  .title {
    display: flex;
    justify-content: center;
    margin-left: 5em;
  }
  .items-section {
    width: 90vw;
  }
  .life-skills {
    width: 100%;
    margin: 0 auto;
  }
  .loading-bar {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar2 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar2::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar3 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 220deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar3::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar4 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar4::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .text {
    position: relative;
    right: 69%;
    top: 1.5rem;
    font-weight: 600;
  }
  .text1 {
    position: relative;
    right: 100%;
    top: -1rem;
    font-weight: 600;
    width: 150px;
  }
  .text2 {
    position: relative;
    right: 100%;
    top: -1rem;
    font-weight: 600;
    width: 150px;
  }
  .text-pro {
    display: none;
  }
  .text-tech {
    display: none;
  }

  /* page4 */
  .page4 {
    height: 120vh;
  }
  .items2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .items2 img {
    width: 100vw;
  }
  .items-projects {
    height: 50vh;
  }

  .items-projects {
    width: 40vw;
    height: 240px;
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .items-projects:hover {
    transform: translateY(20px);
  }
  .items-projects:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 176, 155, 0.5),
      rgba(150, 201, 61, 1)
    );
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  .items-projects:hover::before {
    opacity: 1;
  }
  .items-projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .items-projects .content {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }
  .items-projects:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  .items-projects .content h1 {
    margin-top: -20px;
  }
  .items-projects .content p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 7px;
  }
  .items-projects .content .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5px ease-in-out;
  }

  /* page5 */
  .textfield input {
    width: 92vw;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .query textarea {
    width: 92vw;
    height: 25vh;
    margin-top: -5px;
  }
  .menu-btn {
    display: block;
    flex: 1;
    text-align: right;
  }
  .menu-btn:active {
    color: #66d666;
  }
}
@media screen and (width > 1024px) and (width <=1440px) {
  .menu-btn {
    display: block;
    text-align: right;
  }

  .container {
    width: 100vw;
    height: 120vh;
  }
  .inner-container {
    width: 100vw;
  }

  .profile {
    position: relative;
    right: -3em;
    top: 2em;
  }

  /* page2 */
  .services h1 {
    margin: 0;
  }

  .profile2 img {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50vh;
  }

  .page2 {
    height: 180vh;
  }
  .profile2 button {
    width: 15vw;
    height: 3vh;
  }
  .description {
    width: 40vw;
  }
  .services {
    position: relative;
    top: 40em;
    margin-left: 20em;
    display: inline-block;
    justify-content: center;
  }
  .services h1 {
    font-size: 30px;
    margin-bottom: -10px;
  }
  .services1 {
    width: 50vw;
    /* margin-left: 10px; */
    height: 11em;
  }
  .services2 {
    width: 50vw;
    /* margin-left: 10px; */
    height: 11em;
  }
  .services3 {
    width: 50vw;
    /* margin-left: 10px; */
    height: 11em;
  }

  /* page3 */
  .page3 {
    height: 200vh;
    width: 100vw;
  }
  .life-skills {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    margin-left: 20px;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0px;
  }
  .title {
    display: flex;
    justify-content: center;
    margin-left: 5em;
  }
  .items-section {
    width: 90vw;
  }
  .life-skills {
    width: 80vw;
    margin: 0 auto;
  }
  .loading-bar {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar2 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar2::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar3 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 220deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar3::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar4 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar4::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .text {
    position: relative;
    right: 69%;
    top: 1.5rem;
    font-weight: 600;
  }
  .text1 {
    position: relative;
    right: 100%;
    top: -1rem;
    font-weight: 600;
    width: 150px;
  }
  .text2 {
    position: relative;
    right: 100%;
    top: -1rem;
    font-weight: 600;
    width: 150px;
  }
  .text-pro {
    display: none;
  }
  .text-tech {
    display: none;
  }

  /* page4 */
  .page4 {
    height: 120vh;
  }
  .items2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .items2 img {
    width: 100vw;
  }
  .items-projects {
    height: 50vh;
  }
  .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .items-projects {
    width: 40vw;
    height: 240px;
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .items-projects:hover {
    transform: translateY(20px);
  }
  .items-projects:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 176, 155, 0.5),
      rgba(150, 201, 61, 1)
    );
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  .items-projects:hover::before {
    opacity: 1;
  }
  .items-projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .items-projects .content {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }
  .items-projects:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  .items-projects .content h1 {
    margin-top: -20px;
  }
  .items-projects .content p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 7px;
  }
  .items-projects .content .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5px ease-in-out;
  }

  .menu-btn {
    display: block;
    flex: 1;
    text-align: right;
  }
  .menu-btn:active {
    color: #66d666;
  }
}
@media screen and (width < 768px) {
  .container .nav-section {
    display: none;
  }
  .container .social-section {
    display: none;
  }

  .container {
    width: 100vw;
    height: 150vh;
  }
  .inner-container {
    width: 100vw;
  }

  .profile {
    position: relative;
    top: 15em;
    height: 50vh;
    left: 2em;
    aspect-ratio: 1/1;
    width: 50vw;
  }

  /* page2 */
  .services h1 {
    margin: 0;
  }
  .profile2 {
    display: inline-block;
    margin: 0;
  }
  .profile2 img {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80vw;
  }
  .profile2 .description p {
    width: 90vw;
  }

  .page2 {
    height: 300vh;
  }
  .profile2 button {
    width: 20vw;
    height: 3vh;
  }
  .services {
    position: relative;
    top: 60em;
    margin-left: 20px;
  }
  .services1 {
    width: 99vw;

    height: 12em;
  }
  .services2 {
    width: 99vw;

    height: 12em;
  }
  .services3 {
    width: 99vw;

    height: 12em;
  }

  /* page3 */
  .page3 {
    height: 200vh;
    width: 100vw;
  }
  .life-skills {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    margin-left: 20px;
  }
  .title h2 {
    width: 78vw;
  }
  .items {
    display: inline-block;
    width: 90vw;
  }
  .title {
    display: flex;
    justify-content: center;
    margin-left: 5em;
  }
  .items-section {
    width: 90vw;
  }
  .life-skills {
    width: 80vw;
    margin-left: 50px;
  }
  .loading-bar {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar2 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .loading-bar2::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar3 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar3::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .loading-bar4 {
    height: 120px;
    width: 120px;
    background-color: #66d666;
    border-radius: 50%;
    background: conic-gradient(#66d666 268deg, rgb(104, 101, 101) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loading-bar4::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  }
  .text {
    position: relative;
    right: 69%;
    top: 1.5rem;
    font-weight: 600;
  }
  .text1 {
    position: relative;
    right: 69%;
    top: 0.1rem;
    font-weight: 600;
  }
  .text2 {
    position: relative;
    right: 69%;
    top: 0.1rem;
    font-weight: 600;
  }
  .text-pro {
    display: none;
  }
  .text-tech {
    display: none;
  }

  /* page4 */
  .page4 {
    height: 200vh;
  }
  .items2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .items2 img {
    width: 100vw;
  }
  .items-projects {
    height: 40vh;
  }
  .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .items-projects {
    width: 90vw;
    height: 25vh;
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .items-projects:hover {
    transform: translateY(20px);
  }
  .items-projects:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 176, 155, 0.5),
      rgba(150, 201, 61, 1)
    );
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }
  .items-projects:hover::before {
    opacity: 1;
  }
  .items-projects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .items-projects .content {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }
  .items-projects:hover .content {
    opacity: 1;
    transform: translateY(0);
  }
  .items-projects .content h1 {
    margin-top: -20px;
  }
  .items-projects .content p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 7px;
  }
  .items-projects .content .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5px ease-in-out;
  }

  /* page5 */
  .textfield input {
    width: 92vw;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .textfield .subject {
    width: 92vw;
  }
  .query textarea {
    width: 92vw;
    height: 25vh;
    margin-top: -5px;
  }
}
.menu-btn {
  display: block;
  flex: 1;
  text-align: right;
}
.fa-toggle-off {
  cursor: pointer;
}

.fa-toggle-off:active {
  color: #66d666;
}
.fa-bars:active {
  color: #66d666;
}

@media screen and (width > 768px) and (width < 1024px) {
  .textfield .subject {
    width: 92vw;
  }
  .project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .items-projects {
    width: 71vw;
    height: 32vh;
    padding: 2rem 1rem;
    background-color: #fff;
    position: relative;
    display: flex;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
  }
  .items2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .page4 {
    height: 250vh;
  }
}
